@use '../abstracts' as *;

.info {
    font-family: $space-font;

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 71px;
        letter-spacing: -0.035em;
        width: clamp(350px, 75%, 586px);
        color: $gray-1;
        
        @include large {
            font-size: 64px;
            line-height: 95px;
        }
    }
    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.035em;
        width: clamp(328px, 75%, 381px);
        color: $gray-2; 
        
        @include large {
            font-size: 24px;
            line-height: 36px;
        }
    }
}